<section>
  <div class="principal">
    <h3>Numbers</h3>
    <div class="numbers">
      <ng-container *ngFor="let number of numbers">
        <app-ball [number]="number"></app-ball>
      </ng-container>
    </div>
    <div class="actions">
      <button class="clear">Clear selection</button>
    </div>
  </div>
  <div class="bet-box">
    <div class="numbers">
      <ng-container *ngIf="numbersValues | async as numbersValues">
        <ng-container *ngFor="let number of numbers">
            <app-ball [number]="numbersValues.includes(number) ? number : 0"></app-ball>
        </ng-container>
      </ng-container>
    </div>
    <div class="amount">
      <span>x5</span>
      <input type="number">
      <button>Ok</button>
    </div>
    <div class="total">
      <span>Total: 500</span>
      <button>Place bet</button>
    </div>
  </div>
</section>
