:host {
  button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #F9FFFC;
  }
  .a,
  .g {
    background-color: #CA584F;
  }
  .b,
  .h {
    background-color: #F6F3DF;
  }
  .c,
  .i {
    background-color: #48A86A;
  }
  .d,
  .j {
    background-color: #F6E7E8;
  }
  .e,
  .k {
    background-color: #F6CD39;
  }
  .f {
    background-color: #EDF5ED;
  }
}
