:host {
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-left: solid 10px #f3f2f7;
  }
  .balls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
  }
  .amount {
    display: flex;
    align-items: center;
    .input-box {
      display: flex;
      border: solid 5px #f3f2f7;
      position: relative;
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f3f2f7;
        width: 50px;
        text-align: center;
      }
      p {
        position: absolute;
        top: 25px;
        color: red;
      }
    }
    input {
      text-align: end;
      height: 30px;
      width: 100px;
      padding: 0;
      padding-right: 5px;
      border: none;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }
    button {
      background-color: #00A4EA;
      color: white;
      border: none;
      height: 40px;
      width: 50px;
      margin-left: 20px;
    }
  }
  .total {
    background-color: #f3f2f7;
    padding-block: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    button {
      cursor: pointer;
      width: 100%;
      background-color: #2491f9;
      color: white;
      border: none;
      height: 50px;
      &:disabled {
        background-color: grey;
      }
    }
  }
}
